# ====== MySQL Source (phpipam) ====== #
DB_IP = 'phpipam-mysql'
DB_PORT = '3306'
DB_NAME = 'phpipam'
DB_USER = 'root'
DB_PWD = 'my-secret-pw'
# ====== Log settings ==================== #
LOGFILE = 'migration.log'
STDOUT = False  # print to STDOUT
DEBUG = True  # write debug log
DEBUG_LOG = 'debug.log'
# ====== Device42 upload settings ========= #
D42_USER = 'admin'
D42_PWD = 'admin'
D42_URL = 'https://url'